{
    "env": {
        "browser": true,
        "es2021": true,
        "webextensions": true,
        "greasemonkey": true,
        "node":true
    },
    "extends": 
    [
        "eslint:recommended",
        "prettier"
    ],
    "plugins": [
        "prettier"
    ],
    "overrides": [
    ],
    "parserOptions": {
        "ecmaVersion": "latest",
        "sourceType": "module"
    },
    "rules": {
        "prettier/prettier": "error"
    }
}
