@font-face {
    font-family: 'Whitney Medium';
    font-style: normal;
    font-weight: normal;
    src: url(../whitneymedium.woff) format('woff');
}
@font-face {
    font-family: 'Whitney Bold';
    font-style: normal;
    font-weight: normal;
    src: url(../whitneybold.woff) format('woff');
}
html {
    --text-normal: #dcddde;
    --text-muted: #72767d;
    --text-link: #0af;
    --interactive-normal: #b9bbbe;
    --interactive-hover: #dcddde;
    --interactive-active: #fff;
    --background-primary: #36393f;
    --background-secondary: #2f3136;
    --background-tertiary: #202225;
    --background-floating: #18191c;
    --background-modifier-accent: hsla(0,0%,100%,0.06);
    --deprecated-text-input-bg: rgba(0,0,0,0.1);
    --deprecated-text-input-border: rgba(0,0,0,0.3);
    --deprecated-text-input-border-hover: #040405;
}
*, ::after, ::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: 0;
}
body {
    background:var(--background-primary);
    font-family: 'Whitney Medium','Whitney Bold';
}
.preload * {
    transition: none !important;
}
::-webkit-scrollbar {
    background: transparent;
}
::-webkit-scrollbar-thumb {
    height: 56px;
    border-radius: 8px;
    border: 4px solid transparent;
    background-clip: content-box;
    background-color: #909090;
}
::-webkit-scrollbar-thumb:hover {
    background-color: #606060;
}
#top-line {
    background: var(--background-tertiary);
    width:auto;
    height: 72px;
    padding: 2px 8px;
    display: grid;
    grid-template-columns: 230px auto;
    grid-template-rows: 1fr;
    gap: 0px 10px;
    box-shadow: 0 2px 10px 0 rgba(0,0,0,.2);
}
h4 {
    color:var(--text-link);
    font-size: 24px;
    user-select: none;
}
img {
    -webkit-user-drag: none;
}
span {
    font-size: inherit;
    color: var(--text-normal);
    user-select: none;
    font-family: inherit;
}
strong {
    font-family: 'Whitney Bold';
    color: var(--text-link);
    font-size: 16px;
    user-select: none;
}
use {
    pointer-events: none;
}
.quickaccess {
    width: 40px;
    height: 40px;
    fill: var(--interactive-normal);
    transition: fill .2s ease-in-out;
}
.quickaccess:hover {
    fill: var(--interactive-hover);
}
.quickaccess:active {
    fill: var(--interactive-active);
}
.quickaccess:not(:first-child) {
    margin-left: 8px;
}
.accountholder {
    margin-top: 8px;
    border: 1px solid var(--background-modifier-accent);
    padding: 16px;
    background-color: var(--background-floating);
    border-radius: 50px;
    font-size: 14px;
    line-height: 20px;
    color: var(--interactive-normal);
    display: grid;
    height: max-content;
    user-select: none;
    grid-gap: 12px;
    align-items: center;
    grid-template-columns: 42px minmax(20px,160px) auto;
}
.accountholder:last-child {
    margin-bottom:8px;
}
.groupholder {
    border: 1px solid var(--background-modifier-accent);
    padding: 16px;
    background-color: var(--background-floating);
    border-radius: 7px;
    font-size: 20px;
    line-height: 20px;
    color: var(--interactive-normal);
    font-family: 'Whitney Bold';
    display: grid;
    height: max-content;
    user-select: none;
    grid-gap: 12px;
    align-items: center;
    grid-template-columns: 42px minmax(20px,160px) auto;
    grid-column: 2 / 3;
    margin-bottom: 8px;
}
.groupholder.active {
    border-color: var(--text-link);
}
#groupmodal {
    grid-template-columns: 17px 1fr 0px;
    grid-template-rows: 1fr 1fr 1fr;
    overflow-y: scroll;
}
.holderlogo {
    width: 42px;
    height: 42px;
    fill: var(--interactive-normal);
    cursor: pointer;
    transition: fill .2s ease-in-out;
}
.holderlogo:hover {
    fill: var(--interactive-hover);
}
.holderlogo:active {
    fill: var(--interactive-active);
}
.Header {
    font-size: 16px;
    color: var(--text-normal);
    font-family: 'Whitney Bold';
    display: block;
}
.holder-controls {
    height: 32px;
    width: 32px;
    fill: var(--interactive-normal);
    cursor:pointer;
    transition: fill .2s ease-in-out;
}
.holder-controls.disable {
    pointer-events: none;
    fill: var(--text-muted);
}
.holder-controls:hover {
    fill: var(--interactive-hover);
}
.holder-controls:active {
    fill: var(--interactive-active);
}
.holder-controls:not(:first-child) {
    margin-left: 8px;
}
.mainbutton {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    justify-content: center;
    color: var(--text-normal);
    background-color: var(--text-link);
    border: none;
    border-radius: 3px;
    user-select: none;
    padding: 2px 16px;
    transition: background-color .17s ease,color .17s ease;
    height: 29px;
    width: 88px;
    font-family: 'Whitney Medium';
    font-size: 16px;
}
.mainbutton:hover {
    background-color: #0091da;
}
.mainbutton:active {
    background-color:#0078b5;
}
#accountlist {
    width: auto;
    height: 364px;
    overflow-y: scroll;
    display: grid;
    justify-content: center;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}
#bottom-line {
    background: var(--background-tertiary);
    box-shadow: 0 2px 10px 0 rgba(0,0,0,.2);
    height: 64px;
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(2, 1fr);
    gap: 8px 8px;
    justify-items: center;
    align-items: center;
    font-size:16px;
}
.modal {
    position:fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border-radius: 5px;
    background-color:var(--background-primary);
    z-index:10;
    width: 320px;
    height: 400px;
    box-shadow: 0 0 0 1px rgba(32,34,37,.6), 0 2px 10px 0 rgba(0,0,0,.2);
}
.modal.active {
    transform: translate(-50%, -50%) scale(1);
}
.modal-header {
    padding: 24px 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal-body {
    width: 320px;
    height: 257px;
    display: grid;
}
.modal-footer {
    display: flex;
    background-color: var(--background-secondary);
    width: 100%;
    padding: 16px 16px;
    border-radius: 0 0 5px 5px;
    height: 68px;
    flex-direction: row-reverse;
}
.modal-button {
    width: 37px;
    height: 37px;
    background: transparent;
    border: 0;
    fill: var(--interactive-normal);
    transition: fill .2s ease-in-out;
    cursor: pointer;
}
.modal-button:not(:first-child) {
    margin-right: 8px;
}
.modal-button:hover {
    fill: var(--interactive-hover);
}
.modal-button:active {
    fill: var(--interactive-active);
}
.footerinput {
    height: 37px;
    margin-top: 1px;
    width: 196px;
    margin-right: 10px;
}
.accountinput {
    width: 290px;
    height: 40px;
}
input {
    background-color: var(--deprecated-text-input-bg);
    border: 1px solid var(--deprecated-text-input-border);
    transition: border-color .2s ease-in-out;
    border-radius: 3px;
    color: var(--text-normal);
    font-family: 'Whitney Medium';
    font-size: 16px;
    padding: 10px;
}
input:hover {
    border-color: var(--deprecated-text-input-border-hover);
}
input:focus {
    border-color: var(--text-link);
}
#overlay {
    position: fixed;
    transition: 200ms ease-in-out;
    opacity: 0;
    background: rgb(0, 0, 0);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
}
#overlay.active {
    opacity: 0.85;
    pointer-events: all;
}