@font-face {
	font-family: Whitney;
	font-style: normal;
	font-weight: 400;
	src: url(../../fonts/whitneymedium.woff) format("woff");
}

@font-face {
	font-family: Whitney;
	font-style: normal;
	font-weight: 200;
	src: url(../../fonts/whitneybook.woff) format("woff");
}

@font-face {
	font-family: Whitney;
	font-style: normal;
	font-weight: 100;
	src: url(../../fonts/whitneylight.woff) format("woff");
}

@font-face {
	font-family: Whitney;
	font-style: normal;
	font-weight: 700;
	src: url(../../fonts/whitneybold.woff) format("woff");
}

@font-face {
	font-family: Whitney;
	font-style: normal;
	font-weight: 500;
	src: url(../../fonts/whitneysemibold.woff) format("woff");
}

@keyframes notifin {
	0% {
		opacity: 0;
		transform: translateY(-20px);
	}

	to {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes notifout {
	0% {
		opacity: 1;
		transform: translateY(0);
	}

	to {
		opacity: 0;
		transform: translateY(-20px);
	}
}

html {
	--primary: #0af;
	--primary-white: #dcddde;
	--secondary-white: #d1d4d7;
	--interactive-normal: #b9bbbe;
	--interactive-hover: #dcddde;
	--interactive-active: #fff;
	--background-primary: #36393f;
	--background-secondary: #2f3136;
	--background-tertiary: #202225;
	--background-floating: #18191c;
}

*,
:after,
:before {
	box-sizing: border-box;
	margin: 0;
	outline: 0;
	padding: 0;
}

body {
	background: var(--background-primary);
	font-family: Whitney;
	height: 500px;
	width: 400px;
}

.preload * {
	transition: none !important;
}

::-webkit-scrollbar {
	display: none;
}

#top-line {
	align-items: center;
	background: var(--background-tertiary);
	box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);
	display: flex;
	height: 40px;
	justify-content: space-between;
	padding: 2px 9px;
	width: auto;
}

#sidebar {
	height: 460px;
	width: 50px;
	padding-top: 8px;
	gap: 8px;
	background: var(--background-tertiary);
	box-shadow: 2px 0 10px rgba(0, 0, 0, 0.2);
	position: absolute;
	display: flex;
	align-items: center;
	flex-direction: column;
	top: 40px;
	left: 0;
}

.sidebar_icon {
	--scale-var: 0;
	height: 40px;
	width: 40px;
	border-radius: 50px;
	fill: #23a559;
	color: var(--secondary-white);
	font-size: 20px;
	background: #313338;
	transition: ease-out 0.1s;
	display: flex;
	align-items: center;
	justify-content: center;

	&:hover {
		--scale-var: 1;
		fill: #fff;
		color: #fff;
		border-radius: 14px;
		background: #23a559;
		cursor: pointer;
	}

	&.server {
		min-height: 40px;

		&:hover {
			background: var(--primary);
		}

		&.active {
			background: var(--primary);
			border-radius: 14px;
			color: #fff;
		}
	}

	svg {
		width: inherit;
		height: inherit;
	}

	span {
		pointer-events: none;
	}
}

.tooltip {
	position: absolute;
	width: auto;
	padding: 8px;
	margin: 2em;
	min-width: max-content;
	font-size: 16px;
	border-radius: 8px;
	color: #fff;
	background: var(--background-floating);
	transition: 100ms;
	transform: scale(var(--scale-var));
	pointer-events: none;

	&.left {
		transform-origin: left;
		left: 20px;
	}

	&.right {
		transform-origin: right;
		right: 20px;
	}

	&.server {
		left: 30px;
		top: -20px;
		transform-origin: top;
	}

	&:hover {
		transform: scale(var(--scale-var));
	}
}

#floatbar {
	position: absolute;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	bottom: 16px;
	height: 148px;
	gap: 8px;
	right: 16px;
}

.float_icon {
	height: 40px;
	width: 40px;
	--scale-var: 0;
	border-radius: 50px;
	border: 1px solid rgba(255, 255, 255, 0.2);
	fill: #23a559;
	transition: ease-out 0.1s;
	background: #313338;
	box-shadow: 0 8px 4px 0 rgba(0, 0, 0, 0.3);
	display: flex;
	align-items: center;
	justify-content: center;

	&:hover {
		--scale-var: 1;
		fill: #fff;
		color: #fff;
		border-radius: 14px;
		background: #23a559;
		cursor: pointer;
	}

	svg {
		height: 22px;
		width: 22px;
	}
}

h4 {
	color: var(--primary);
	font-size: 24px;
	font-weight: 500;
	user-select: none;
}

img {
	-webkit-user-drag: none;
}

span {
	font-family: inherit;
	font-size: inherit;
	overflow: hidden;
	user-select: none;
}

use {
	pointer-events: none;
}

.button-normal {
	background-color: var(--primary);
	border: none;
	border-radius: 3px;
	color: var(--primary-white);
	cursor: pointer;
	font-family: Whitney;
	font-size: 15px;
	min-height: 38px;
	min-width: 96px;
	padding: 2px 16px;
	transition:
		background-color 0.17s ease,
		color 0.17s ease;
	user-select: none;

	&:hover {
		background-color: #0091da;
	}

	&:active {
		background-color: #0078b5;
	}
}

.button-hide {
	fill: var(--interactive-normal);
	cursor: pointer;
	height: 24px;
	transition: fill 0.2s ease-in-out;
	width: 24px;

	&:hover {
		fill: var(--interactive-hover);
	}

	&:active {
		fill: var(--interactive-active);
	}
}

.quickaccess {
	fill: var(--interactive-normal);
	cursor: pointer;
	height: 30px;
	transition: fill 0.2s ease-in-out;
	width: 30px;

	&:hover {
		fill: var(--interactive-hover);
	}

	&:active {
		fill: var(--interactive-active);
	}
}

.accountholder {
	grid-gap: 12px;
	align-items: center;
	background-color: var(--background-floating);
	border: 1px solid hsla(0, 0%, 100%, 0.3);
	border-radius: 8px;
	box-shadow: 0 14px 10px 4px rgba(0, 0, 0, 0.3);
	transition: background-color 100ms ease-out;
	color: var(--interactive-normal);
	display: grid;
	font-size: 14px;
	grid-template-columns: 42px 194px;
	height: max-content;
	line-height: 20px;
	padding: 16px;
	user-select: none;
	cursor: pointer;

	* {
		pointer-events: none;
	}

	&:hover {
		background-color: #2a2a2a;
	}

	&:active {
		background-color: #565656;
	}
}

.groupholder {
	grid-gap: 12px;
	align-items: center;
	background-color: var(--background-floating);
	border: 1px solid hsla(0, 0%, 100%, 0.3);
	border-radius: 8px;
	color: var(--interactive-normal);
	cursor: pointer;
	display: grid;
	font-size: 14px;
	grid-template-columns: 128px auto;
	height: max-content;
	line-height: 20px;
	padding: 16px;
	user-select: none;
}

.holderlogo {
	fill: var(--interactive-normal);
	height: 42px;
	width: 42px;
	border-radius: 50px;
}

.header {
	color: var(--primary-white);
	display: block;
	font-size: 16px;
	font-weight: 700;
}

.holder-controls {
	fill: var(--interactive-normal);
	cursor: pointer;
	height: 29px;
	pointer-events: auto;
	transition:
		background 0.2s ease-in-out,
		fill 0.2s ease-in-out;
	width: 29px;
}

.holder-controls:hover {
	fill: var(--interactive-hover);
}

.holder-controls:active {
	fill: var(--interactive-active);
}

.holder-controls:not(:first-child) {
	margin-left: 8px;
}

.holder-controls.fill {
	fill: #000;
	background: var(--interactive-normal);
	border-radius: 50px;
}

.holder-controls.fill:hover {
	fill: #000;
	background: var(--interactive-hover);
}

.holder-controls.fill:active {
	fill: #000;
	background: var(--interactive-active);
}

#accountlist {
	grid-gap: 8px;
	display: grid;
	grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
	height: 460px;
	justify-content: center;
	overflow-y: overlay;
	width: auto;
	margin-left: 10px;
}

#group_body {
	display: flex;
	flex-direction: column;
	gap: 8px;
	overflow-y: overlay;
	height: 334px;
}

.modal {
	background-color: var(--background-primary);
	border-radius: 5px;
	box-shadow:
		0 0 0 1px rgba(32, 34, 37, 0.6),
		0 2px 10px 0 rgba(0, 0, 0, 0.2);
	left: 50%;
	position: fixed;
	top: 50%;
	transform: translate(-50%, -50%) scale(0);
	transition: 0.2s ease-in-out;
	width: 320px;
	z-index: 10;
}

.modal.active {
	transform: translate(-50%, -50%) scale(1);
}

.modal-header {
	align-items: center;
	display: flex;
	justify-content: center;
	padding: 24px 16px;
}

.modal-body {
	display: grid;
	width: 320px;
	grid-row-gap: 10px;
	align-content: center;
	justify-items: center;
	margin-bottom: 10px;

	span {
		color: white;
		font-size: 16px;
	}
}

.modal-footer {
	align-items: center;
	background-color: var(--background-secondary);
	border-radius: 0 0 5px 5px;
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;
	height: 68px;
	padding: 16px;
	width: 100%;
}

.modal-header-button {
	fill: var(--interactive-normal);
	cursor: pointer;
	height: 24px;
	position: absolute;
	right: 8px;
	top: 8px;
	width: 24px;
}

.modal-header-button:hover {
	fill: var(--interactive-hover);
}

.accountinput,
.groupinput {
	width: 18em;
}

input {
	background-color: rgba(0, 0, 0, 0.1);
	border: 1px solid rgba(0, 0, 0, 0.3);
	border-radius: 3px;
	color: var(--primary-white);
	font-family: Whitney;
	font-size: 16px;
	padding: 10px;
	transition: border-color 0.2s ease-in-out;

	&:hover {
		border-color: #040405;
	}

	&:focus {
		border-color: var(--primary);
	}
}

input[type="file"] {
	display: none;
}

.accountwrapper:last-child {
	padding-bottom: 8px;
}

.accountwrapper:first-child {
	padding-top: 8px;
}

#overlay {
	background: #000;
	bottom: 0;
	left: 0;
	opacity: 0;
	pointer-events: none;
	position: fixed;
	right: 0;
	top: 0;
	transition: 0.2s ease-in-out;
	z-index: 9;
}

#overlay.active {
	opacity: 0.85;
	pointer-events: all;
}

#notification {
	animation-duration: 0.3s;
	animation-fill-mode: forwards;
	animation-timing-function: cubic-bezier(0.68, -0.55, 0.27, 1.55);
	background-color: var(--background-tertiary);
	border: 1px solid #00000029;
	border-radius: 8px;
	box-shadow: 0 3px 5px #131313c7;
	color: var(--primary-white);
	display: none;
	font-size: 16px;
	left: calc(285px - 50%);
	padding: 10px;
	pointer-events: none;
	position: fixed;
	text-align: center;
	top: 45px;
	width: 230px;
	z-index: 11;
}

.rightclickmenu {
	background-color: var(--background-floating);
	height: max-content;
	position: absolute;
	width: 150px;
	padding: 8px;
	top: 96px;
	left: 64px;
	border-radius: 8px;
	box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
	display: none;

	button {
		background-color: transparent;
		border: 0;
		border-radius: 3px;
		color: var(--primary-white);
		cursor: pointer;
		font-family: Whitney;
		font-size: 15px;
		min-height: 38px;
		width: 100%;
		padding: 8px 8px;

		&:hover {
			background-color: var(--primary);
		}
	}
}
