*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: 0;
}

html {
  font-family: sans-serif, system-ui;
}

body {
  background: linear-gradient(316deg, #5865f2, #36393f, #36393f);
  background-size: 3840px 2160px;
  animation: gradient 5s ease forwards;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  100% {
    background-position: 100% 50%;
  }
}

.container {
  background: #36393f;
  width: 784px;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 32px;
  font-size: 18px;
}

.wrapper {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  z-index: 1;
}

#logo {
  position: fixed;
  top: 24px;
  left: 24px;
  z-index: 9999;
  text-decoration: none;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.title {
  font-weight: 600;
  color: #fff;
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 8px;
}

.secondarytitle {
  color: #b9bbbe;
  font-size: 16px;
  line-height: 20px;
  font-family: system-ui;
}

h5 {
  color: #8e9297;
  font-size: 12px;
  line-height: 16px;
  margin-bottom: 8px;
  font-weight: 600;
}

#generator {
  margin-top: 20px;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-gap: 20px;
}

input {
  padding: 10px;
  height: 40px;
  font-size: 16px;
  width: 100%;
  color: #b9bbbe;
  background-color: rgba(59, 59, 59, 0.3);
  border: 1px rgba(0, 0, 0, 0.3);
  background-color: rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.3);
  transition: border-color 0.2s ease-in-out;
  border-radius: 3px;
  font-family: system-ui;
}

input:hover {
  border-color: #040405;
}

input:focus {
  border-color: #0af;
}

button {
  background-color: rgb(88, 101, 242);
  font-size: 16px;
  line-height: 24px;
  width: 100%;
  height: 44px;
  border-radius: 3px;
  border: none;
  transition: background-color 0.17s ease, color 0.17s ease;
  cursor: pointer;
  color: #fff;
  font-family: sans-serif;
  font-weight: bold;
}

button:hover {
  background-color: rgb(71, 82, 196);
}

button:active {
  background-color: rgb(60, 69, 165);
}

svg {
  width: 32px;
  height: 32px;
  position: relative;
  float: right;
  fill: #fff;
  bottom: 36px;
  right: 8px;
  cursor: pointer;
}
